---
import Base from "../../layouts/Base.astro";
---

<Base title="Potvrdenie o krste">

  <section class="page-section">

    <div class="page-container">

      <!-- Späť -->
      <a
        href="/sviatosti"
        class="inline-block mb-4 font-medium text-green-700"
      >
        ← Späť na sviatosti
      </a>

      <!-- Nadpis -->
      <h1 class="page-title mb-6">
        Potvrdenie o krste (Krstný list)
      </h1>

      <!-- Obsah -->
      <div class="details-card p-6">

        <div class="space-y-4 page-text">

          <p>
            Dňa 1. júla 2004 bola zriadená nová samostatná
            Farnosť Banská Bystrica – Stará Sásová.
          </p>

          <p>
            Potvrdenie o krste v našej farnosti po 23. júli 2004
            je možné získať vo farskom úrade v Banskej Bystrici –
            Starej Sásovej.
          </p>

          <p>
            Krsty, ktoré boli vyslúžené do 23. júla 2004,
            sú zapísané v matrike vo Farskom úrade
            Banská Bystrica – Sásová (Saleziáni)
            na Tatranskej 38/A.
          </p>

          <p>
            Tam vydávajú aj potrebné potvrdenie.
          </p>

        </div>

      </div>

    </div>

  </section>

</Base>
