---
import Base from "../../layouts/Base.astro";
---

<Base>
  <section class="p-5">

    <h1 class="text-xl font-bold mb-5">Ulice farnosti</h1>

    <div class="space-y-3">

      <!-- Sásová -->
      <div class="p-4 bg-white border rounded-xl">
        <h2 class="font-bold mb-2">Sásová</h2>
        <p class="text-sm text-gray-700">
          Agátová, Beskydská, Dubová, Fatranská, Garbanka, Haškova, Inovecká,
          Kráľovohoľská, Mateja Bela, Na Dolinky, Na plaváreň, Na Skalici,
          Na Tále, Na Zábave, Pod cintorínom, Pod Skalkou, Sásovská cesta,
          Stránska, Surovská, Veterná
        </p>
      </div>

      <!-- Rudlová -->
      <div class="p-4 bg-white border rounded-xl">
        <h2 class="font-bold mb-2">Rudlová</h2>
        <p class="text-sm text-gray-700">
          Dedinská, Ďumbierka, Gerlachovská, Chabenecká, Kapitána Jaroša,
          Marka Čulena, Odbojárov, Pod Bánošom, Pod Hôrkou, Ružová,
          Strmá
        </p>
      </div>

      <!-- zmiešané -->
      <div class="p-4 bg-white border rounded-xl">
        <h2 class="font-bold mb-2">Ostatné</h2>
        <p class="text-sm text-gray-700">
          Na Tále (Sásová), Rudlovská cesta (hranica), Pod cintorínom a ďalšie podľa administratívy farnosti
        </p>
      </div>

    </div>

  </section>
</Base>