---
import Base from "../layouts/Base.astro";
---

<Base title="Liturgické čítania">

  <section class="page-section">

    <div class="page-container">

      <!-- Nadpis -->
      <h1 class="section-title mb-4">
        Liturgické čítania
      </h1>

      <!-- iframe -->
      <section class="card overflow-hidden">

        <iframe
          src="https://lc.kbs.sk/#dnes"
          class="h-[80vh] w-full border-0"
          loading="lazy"
        />

      </section>

    </div>

  </section>

</Base>