---
import Base from "../layouts/Base.astro";
import Hero from "../components/Hero.astro";
import Announcements from "../components/Announcements.astro";
import InstallButton from "../components/InstallButton.astro";
---

<Base title="Farnosť Banská Bystrica – Stará Sásová">

  <Hero />



  <section class="page-section">
    <div class="mx-auto max-w-4xl">
      <Announcements />
    </div>
  </section>

</Base>
