---
import Base from '../layouts/Base.astro';
import Announcements from '../components/Announcements.astro';
---

<Base title="Farnosť Stará Sásová">
  <section class="px-4 pt-8 pb-4 text-center">
    <h1 class="text-3xl font-bold text-slate-900">
      Farnosť Stará Sásová
    </h1>

    <p class="mt-2 text-slate-600">
      Vitajte na oficiálnej stránke našej farnosti.
    </p>
  </section>

  <Announcements />
</Base>