---
import Base from "../layouts/Base.astro";

const posts = await Astro.glob("../content/announcements/*.md");

// najnovšie hore
posts.sort((a, b) =>
  new Date(b.frontmatter.date) - new Date(a.frontmatter.date)
);
---

<Base>
  <section class="p-5">
    <h1 class="text-xl font-bold">Oznamy</h1>

    {posts.map(post => (
      <article class="mt-4 p-4 border rounded-xl">
        <h2 class="font-bold">{post.frontmatter.title}</h2>
        <p class="text-xs text-gray-500">
          {post.frontmatter.date}
        </p>

        <div class="mt-2 text-sm">
          {post.compiledContent()}
        </div>
      </article>
    ))}
  </section>
</Base>