---
const path = Astro.url.pathname;

function isActive(url) {
  return path === url;
}
---

<nav class="fixed bottom-0 left-0 right-0 z-50">
  <div
    class="mx-auto w-full max-w-md rounded-t-2xl border-t-2 border-green-700 bg-green-50 shadow-lg"
  >
    <div class="grid grid-cols-5 text-xs">
      <a
        href="/"
        class={`py-3 text-center ${
          isActive('/')
            ? 'bg-green-100 font-bold text-green-700'
            : 'text-gray-700'
        }`}
      >
        Domov
      </a>

      <a
        href="/archiv"
        class={`py-3 text-center ${
          isActive('/archiv')
            ? 'bg-green-100 font-bold text-green-700'
            : 'text-gray-700'
        }`}
      >
        Archív
      </a>

      <a
        href="/sviatosti"
        class={`py-3 text-center ${
          isActive('/sviatosti')
            ? 'bg-green-100 font-bold text-green-700'
            : 'text-gray-700'
        }`}
      >
        Sviatosti
      </a>

      <a
        href="/kontakt"
        class={`py-3 text-center ${
          isActive('/kontakt')
            ? 'bg-green-100 font-bold text-green-700'
            : 'text-gray-700'
        }`}
      >
        Kontakt
      </a>

      <a
        href="/viac"
        class={`py-3 text-center ${
          isActive('/viac')
            ? 'bg-green-100 font-bold text-green-700'
            : 'text-gray-700'
        }`}
      >
        Viac
      </a>
    </div>
  </div>
</nav>