---
import BottomNav from "../components/BottomNav.astro";
import "../styles/global.css";
---

<html lang="sk">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Farnosť Stará Sásová</title>
  </head>

  <body class="bg-gray-100 text-gray-900 m-0">

    <div class="flex justify-center min-h-screen">
      <div class="w-full max-w-md bg-white">

        <slot />

      </div>
    </div>

    <BottomNav />

  </body>
</html>