---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="sk">
<head>
  <meta charset="utf-8" />
  <title>{title}</title>

  <style>
    @page {
      size: A4;
      margin: 15mm;
    }

    body {
      font-family: "Times New Roman", serif;
      font-size: 12pt;
      color: black;
      margin: 0;
    }

    h1 {
      text-align: center;
      font-size: 18pt;
      margin-bottom: 6mm;
    }

    h2 {
      font-size: 14pt;
      margin-top: 8mm;
      margin-bottom: 4mm;
    }

    .section {
      margin-bottom: 6mm;
    }

    .mass {
      padding: 2mm 0;
      border-bottom: 1px solid #ddd;
      page-break-inside: avoid;
    }

    .day {
      font-weight: bold;
    }

    .note {
      font-style: italic;
      font-size: 11pt;
    }

    .intention {
      margin-top: 1mm;
    }

    .place {
      float: right;
      font-size: 11pt;
    }
  </style>
</head>

<body>
  <h1>{title}</h1>

  <slot />
</body>
</html>
